<h1><%= @task.title %></h1>

<p><%= "Details: #{@task.details}" %></p>
<p><%if @task.completed %>
    <%= "completed? You betcha!" %>
    <%else %>
    <%= "Completed? Nope!" %>
    <%end%>
    <%= link_to "edit", edit_task_path %>
    <%= link_to "delete", task_path(@task), method: :delete %>
</p>
<%= link_to "Back to List", tasks_path %>
